services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: laravel-api-demo-app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
  scheduler:
    image: laravel-api-demo-app
    entrypoint: ['php', 'artisan', 'schedule:work']
    depends_on:
      - db
      - redis
  db:
    image: postgres:alpine
    restart: always
    environment:
      - POSTGRES_DB=laravel
      - POSTGRES_USER=laravel
      - POSTGRES_PASSWORD=secret
    volumes:
      - db-data:/var/lib/postgresql/data
  redis:
    image: redis:alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  db-data:
  redis-data:
